@import "tailwindcss";

@theme inline {
    --breakpoint-xs: 25rem;
    --breakpoint-xxs: 20rem;
}

* {
    box-sizing: border-box;
}

.titulo{
    @apply text-3xl font-bold mb-4 font-sans;
}
.descricao{
    @apply text-lg mb-4 font-sans;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fade-in {
  animation: fadeIn 0.7s ease-in-out;
}
