@import "tailwindcss";

@theme inline {
    --breakpoint-xs: 25rem;
    --breakpoint-xxs: 20rem;
}

* {
    box-sizing: border-box;
}

/* cores de fundo para ajudar no ajuste da responsividade
    bg-amber-200
    xxs:bg-gray-900
    xs:bg-pink-300
    sm:bg-orange-400
    md:bg-green-900
    lg:bg-red-900
    xl:bg-purple-900
*/

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-12px);
    }
    100% {
        transform: translateY(0px);
    }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}
